BOT_TOKEN=
DB_PATH=/opt/vpn_bot/vpn_bot/bot.db
ADMIN_IDS=
SUPPORT_USERNAME=
BOT_USERNAME=
SHORT_LINK_BASE_URL=https://your-domain.example
SHORTENER_PUBLIC_BASE_URL=https://your-domain.example
PANEL_URL=http://127.0.0.1:2053
PANEL_PATH=/your-xui-web-base-path
PANEL_LOGIN=
PANEL_PASSWORD=
MANUAL_PAYMENT_URL=
PAYMENT_URL_1M=
PAYMENT_URL_3M=
PAYMENT_URL_6M=
PLATEGA_API_BASE_URL=https://app.platega.io
PLATEGA_MERCHANT_ID=
PLATEGA_API_KEY=
PLATEGA_RETURN_URL=https://golum.shop/success
PLATEGA_FAILED_URL=https://golum.shop/fail
PLATEGA_PAYMENT_METHOD=2
