.env
venv/
.venv/
__pycache__/
*.pyc

bot.db
bot.db.backup
bot_backup.db
*.db
*.sqlite3

/backups/
*.bak.*
*.absent

# Что это значит:
# .env — прячет токен
# venv/ и .venv/ — виртуальное окружение
# __pycache__/ — мусор Python
bot.db
